---
layout: default
---
<div class="blurp intro">
  <h1 class="blurp__hed">Three Desi Things</h1>

  <p class="blurp__intro">A fun podcast where three desis &mdash; two Indian-Americans and one Indian &mdash; banter and joke with each other while discovering little-known facts and stories about the food, culture and people of India and South Asia.</p>

  <div class="intro__latest">
    <h2>Latest episode</h2>

    <iframe title="#4 - Bollywood-Hollywood &quot;inspirations&quot;, the world's first female head of state, and samosas" style="border: none;" scrolling="no" data-name="pb-iframe-player" src="https://www.podbean.com/media/player/kvsqw-fa6755?from=pb6admin&download=1&version=1&auto=0&share=1&download=1&rtl=0&fonts=Helvetica&skin=2&pfauth=&btn-skin=101" width="100%" height="122"></iframe>
  </div>

  
  <div class="intro__subscribe">
    <div class="intro__subscribe--item">
      <a href="https://podcasts.apple.com/us/podcast/three-desi-things/id1546558771?itsct=podcast_box&amp;itscg=30200" style="display: inline-block; overflow: hidden; border-radius: 13px; height: 50px;">
        <img src="https://tools.applemediaservices.com/api/badges/listen-on-apple-podcasts/standard-black/en-US?size=250x83&amp;releaseDate=1608855120&h=14986d068daa33c43b194fa1b4573c55" alt="Listen on Apple Podcasts" style="border-radius: 13px; width: 200px; height: 55;">
      </a>
    </div>
    
    <div class="intro__subscribe--item">
      <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9mZWVkLnBvZGJlYW4uY29tL3RocmVlZGVzaXRoaW5ncy9mZWVkLnhtbA%3D%3D">
        <img src="images/google-podcasts.png" alt="Listen on Google Podcasts">
      </a>
    </div>
    <div class="intro__subscribe--item">
      <a href="https://open.spotify.com/show/2j8NZz2zePjEoC3WT9VrFw">
        <img src="images/spotify.png" alt="Listen on Spotify">
      </a>
    </div>
    <div class="intro__subscribe--item">
      <a href="https://www.stitcher.com/podcast/three-desi-things">
        <img src="images/stitcher.png" alt="Listen on Stitcher">
      </a>
    </div>
    
    <div class="intro__subscribe--item">
      <a href="https://threedesithings.podbean.com" target="_blank"><img src="https://d8g345wuhgd7e.cloudfront.net/site/images/badges/w600.png" alt="app download" style="width:150px;height:56px;border:none;"></a>
    </div>

    <div class="intro__subscribe--item">
      <a href="https://music.amazon.com/podcasts/6c78af0c-2eba-48c5-95b9-12aaad796ade/Three-Desi-Things" target="_blank"><img src="images/amazon-music.png" alt="Listen on Amazon Music" style="width:150px;height:56px;border:none;"></a>
    </div>
  </div>
</div>

<div class="posts post__list">
  <h2>All episodes</h2>
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>