<div class="about__social">
    <div class="about__social--item">
        <a href="https://twitter.com/threedesithings">
            <i class="svg-icon twitter about-icon"></i>
        </a>
    </div>
    
    <div class="about__social--item">
        <a href="https://instagram.com/threedesithings">
            <i class="svg-icon instagram about-icon"></i>
        </a>
    </div>
    
    <div class="about__social--item">
        <a href="mailto:threedesithings@gmail.com">
            <i class="svg-icon email about-icon"></i>
        </a>
    </div>
</div>